#topbar
{
	background-color: #333333;
	color: white;
	height: 60px;
	text-align: right;
	padding-top:15px;
	font-family: "Lucida Console", Monaco, monospace;
	box-shadow: 2px 2px 4px #000000;
	position: fixed;
	overflow: hidden;
	top:0;
	left:0;
	width:100%;
	z-index:2;
}

#complaintHead
{
	margin-right: 40%;
}

.goHomeLink
{
	text-decoration: none;
	color: white;
}

body
{
	background-image: url(background.jpg);
	
	background-size: cover;
	
	margin: 0;


}

#area
{
	position: fixed;
	margin-top: 10%;
	margin-left:15%;
	border: 3px solid black;
	border-radius: 8px; 
	background-color: rgb(0,0,0,0.7);
	
	width: 70%;
	height: 80%;
	overflow: auto;
}

#list
{
	list-style-type: none;
	color: white;
	font-size: 20px;
	
}

.button
{
    /* border-color: #000000; */
    border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	color: white;
	position: relative;
	background-color: #4d94ff;
	font-family:"Courier New";
	font-size:14px;
	padding :5px 14px;
	box-shadow: 2px 2px 4px #000000;
	margin-bottom: 10px;
	width: 16%;
	margin-right: 5%;
	margin-top:3%;
	opacity:0.8;
	transition: opacity 0.7s;


}

.button:hover
{
	opacity:1;
	
	transform: scale(1.3);
}

.add
{
	background-color:#66cc00;

}

.deny
{
	background-color:#ff3300;
}